body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #333;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: #555;
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin: 5px 0;
}

button:hover {
    background-color: #0056b3;
}

#courseSelect, #eventList, #overdueEventsList {
    width: 100%;
    margin-bottom: 10px;
}

#courseSelect {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.event-item {
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.event-item div {
    margin: 5px 0;
}

.event-item button {
    margin: 5px;
    background-color: #dc3545;
}

.event-item button:hover {
    background-color: #c82333;
}

#overdueEventsPopup, #setAlarmPopup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    text-align: center;
}

.popup-content h2 {
    margin-top: 0;
    color: #333;
}

.popup-content button {
    background-color: #28a745;
    margin-top: 15px;
}

.popup-content button:hover {
    background-color: #218838;
}

#overdueEventsList {
    margin-top: 15px;
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

#weeksInput, #daysInput, #hoursInput, #minutesInput {
    width: 48px;
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#cancelAlarmButton {
    background-color: #ffc107;
}

#cancelAlarmButton:hover {
    background-color: #e0a800;
}

.alarmDiv {
    color: red;
}

.countdownDiv {
    color: green;
}

#setAlarmPopup label {
    font-size: 1.4em;
    color: #ebfb0a;
    display: block;
    margin-top: 10px;
    padding: 15px;
}
